In [211]:
import pandas as pd

df = pd.read_csv("/Users/crlee/융복합프로젝트/2022_.csv", encoding='euc-kr')
df
columns1={
    '기업이름':'기업명'
}
df = df.rename(columns=columns1)
df

,기업코드,기업명,산업군,남사원수,여사원수,평균근속연수,평균1인급여,당기매출액,영업이익,당기순이익,성장성,안정성,수익성,활동성
0,148540,CJ,산업재,43,16,10.25,456500000,4.092490e+13,2.154200e+12,6.868460e+11,18.677788,172.027773,5.263795,0.848353
1,265324,CJ ENM,경기소비재,1423,1943,5.62,74750000,4.792240e+12,1.373760e+11,-1.768150e+11,34.901544,137.833036,2.866634,0.463814
2,113410,CJ대한통운,산업재,5463,888,7.95,65500000,1.213070e+13,4.117870e+11,1.968220e+11,6.938340,140.271665,3.394581,1.251453
3,635134,CJ제일제당,필수소비재,5890,2266,6.61,77250000,3.007950e+13,1.664710e+12,8.026740e+11,14.417637,160.327721,5.534359,1.002208
4,127954,CJ프레시웨이,필수소비재,1820,4456,5.63,49625000,2.747690e+12,9.784009e+10,5.224313e+10,19.911447,267.455997,3.560810,1.850638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,164788,현대모비스,경기소비재,9507,1328,13.80,86000000,5.190630e+13,2.026530e+12,2.487240e+12,24.469004,46.548977,3.904211,0.936823
135,428251,현대백화점,경기소비재,1329,1753,8.80,64000000,5.014120e+12,3.209290e+11,1.860260e+11,40.355981,136.186534,6.400495,0.507044
136,145880,현대제철,소재,11099,396,11.50,79000000,2.734060e+13,1.616460e+12,1.038190e+12,19.652936,92.387658,5.912295,0.742932
137,195229,휠라홀딩스,경기소비재,39,29,5.05,73666666,4.221750e+12,4.350720e+11,4.675440e+11,11.275597,87.286182,10.305498,0.875555
138,888347,휴젤,의료,254,218,3.31,52000000,2.816750e+11,1.013780e+11,6.068176e+10,21.485473,23.583195,35.991282,0.268318

In [212]:
df2 = pd.read_excel("/Users/crlee/융복합프로젝트/20142022_sales.xlsx")
df2

,기업명,2013_매출액,2014_매출액,2015_매출액,2016_매출액,2017_매출액,2018_매출액,2019_매출액,2020_매출액,2021_매출액,2022_매출액
0,삼성전자,NaN,206205987000000,2.006535e+14,2.018667e+14,239575376000000,243771415000000,230400881000000,236806988000000,279604799000000,302231360000000
1,LG화학,NaN,22577830000000,2.020658e+13,2.065930e+13,25698014000000,28183013000000,28625042000000,29984350000000,42599284000000,51864888000000
2,현대모비스,NaN,35126612000000,3.601975e+13,3.826174e+13,35144580000000,35149219000000,38048768000000,36626504000000,41702184000000,51906293000000
3,현대글로비스,NaN,13922020908396,1.467121e+13,1.534063e+13,16358289275041,16865565662638,18270050465618,16519884633100,21779581931003,26981880971123
4,이마트,NaN,13153607337382,1.363999e+13,1.477788e+13,15876686561466,17049079116942,19062879818284,22033009980862,24932680935679,29332413845888
...,...,...,...,...,...,...,...,...,...,...,...
134,코오롱플라스틱,NaN,245253564902,2.503921e+11,2.383774e+11,262242096910,321335264695,330284776004,295182526345,405272224855,518075861606
135,빙그레,NaN,820021629220,7.995717e+11,8.131661e+11,857454493207,855162971617,878334259510,959129489604,1147435118625,1267685822673
136,SFA반도체,NaN,519127825685,5.164775e+11,4.292146e+11,449558231423,457853090116,588938237876,573077540339,641108819687,699412110637
137,와이지엔터테인먼트,NaN,156315908861,1.931121e+11,3.218391e+11,349860731337,269016130453,264459739114,255262402297,321636184178,391174512956
138,휴젤,NaN,40349968216,6.506558e+10,1.241894e+11,182085496975,182391609421,204567625227,211038348381,231859108191,281675135067

In [213]:
df3=pd.read_csv("/Users/crlee/융복합프로젝트/139_.csv", encoding='euc-kr')
df3

,기업명,산업군,설립년도,기업규모,근로자수,위치,복지,경도,위도
0,삼성전자,IT,1969년 01월 13일,대기업 계열사,"121,000 명",경기 수원시 영통구 삼성로 129,4.0,127.052777,37.258871
1,LG화학,소재,2001년 04월 03일,대기업 계열사,"14,803 명",서울 영등포구 여의대로 128,1.0,126.928672,37.527671
2,현대모비스,경기소비재,1977년 06월 25일,대기업 계열사,"11,584 명",서울 강남구 테헤란로 203,4.0,127.037720,37.501597
3,현대글로비스,산업재,2001년 02월 22일,대기업 계열사,"2,000 명",서울 성동구 왕십리로 83-21,2.0,127.043880,37.544438
4,이마트,경기소비재,2011년 05월 03일,대기업 계열사,"23,561 명",서울 중구 세종대로7길 37,0.0,126.972499,37.560759
...,...,...,...,...,...,...,...,...,...
134,코오롱플라스틱,소재,1996년 03월 15일,대기업 계열사,380 명,경북 김천시 공단3길 64,3.0,128.131338,36.152727
135,빙그레,필수소비재,1967년 09월 13일,중견기업,"1,809 명",경기 남양주시 다산순환로 45,4.0,127.149302,37.615165
136,SFA반도체,IT,1998년 06월 30일,중견기업,615 명,충남 천안시 서북구 백석공단7로 16,2.0,127.108163,36.830358
137,와이지엔터테인먼트,경기소비재,1998년 02월 27일,중견기업,413 명,서울 마포구 희우정로1길 7,2.0,126.907772,37.548870
138,휴젤,의료,2001년 11월 22일,중소기업,554 명,강원 춘천시 신북읍 신북로 61-20,2.0,127.749740,37.930095

In [269]:
df4 = pd.read_csv('/Users/crlee/융복합프로젝트/search_result.csv',encoding='euc-kr') # 검색량
columns2={
    'Unnamed: 0':'기업명'
}
df4= df4.rename(columns=columns2)
df4

,기업명,2004,2005,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,삼성전자,0,58,0,12,11,22,130,251,284,...,202,182,168,222,288,281,621,878,661,355
1,LG화학,250,268,135,123,117,115,225,359,493,...,262,304,295,317,341,345,485,767,602,334
2,현대모비스,0,61,0,12,11,21,130,251,284,...,202,182,168,222,290,282,619,879,662,355
3,현대글로비스,271,261,181,180,128,132,85,33,0,...,41,47,0,72,102,31,0,100,0,44
4,이마트,221,246,126,123,115,115,225,360,493,...,263,303,295,317,340,345,484,767,601,334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,코오롱플라스틱,228,114,106,10,52,13,6,75,59,...,42,50,51,51,31,34,24,68,42,13
135,빙그레,195,47,44,36,69,65,83,108,158,...,154,136,164,196,230,229,475,343,269,154
136,SFA반도체,315,97,21,20,82,18,4,0,20,...,2,0,37,68,62,126,182,320,114,76
137,와이지엔터테인먼트,185,188,31,54,0,8,7,42,245,...,103,106,75,78,43,92,56,78,30,22
138,휴젤,0,245,55,130,66,12,65,26,6,...,29,110,227,307,249,231,372,509,299,187

In [265]:
df5 = pd.read_csv("/Users/crlee/융복합프로젝트/profit.csv")
df5

,기업명,산업군,2022매출액,2021매출액,2020매출액,2019매출액,2018매출액,2017매출액,2016매출액,2015매출액,2014매출액,2022영업이익,2021영업이익,2020영업이익,2019영업이익,2018영업이익,2017영업이익,2016영업이익,2015영업이익,2014영업이익
0,삼성전자,IT,3.022314e+14,2.796048e+14,2.368070e+14,2.304009e+14,2.437714e+14,2.395754e+14,2.018667e+14,2.006535e+14,2.062060e+14,4.337663e+13,5.163386e+13,3.599388e+13,2.776851e+13,5.888667e+13,5.364504e+13,2.924067e+13,2.641344e+13,2.502507e+13
1,LG화학,소재,5.186489e+13,4.259928e+13,2.998435e+13,2.733197e+13,2.700718e+13,2.569801e+13,2.065930e+13,2.020658e+13,2.257783e+13,2.995698e+12,5.026370e+12,1.801427e+12,8.317030e+11,2.288756e+12,2.928457e+12,1.991920e+12,1.823568e+12,1.310761e+12
2,현대모비스,경기소비재,5.190629e+13,4.170218e+13,3.662650e+13,3.804877e+13,3.514922e+13,3.514458e+13,3.826174e+13,3.601975e+13,3.512661e+13,2.026531e+12,2.040112e+12,1.830292e+12,2.359257e+12,2.024957e+12,2.024929e+12,2.904692e+12,2.934571e+12,3.141242e+12
3,현대글로비스,산업재,2.698188e+13,2.177958e+13,1.651988e+13,1.827005e+13,1.686557e+13,1.635829e+13,1.534063e+13,1.467121e+13,1.392202e+13,1.798517e+12,1.126246e+12,6.621506e+11,8.765376e+11,7.101401e+11,7.270705e+11,7.287912e+11,6.980268e+11,6.446291e+11
4,이마트,경기소비재,2.933241e+13,2.493268e+13,2.203301e+13,1.906288e+13,1.704908e+13,1.551490e+13,1.461507e+13,1.363999e+13,1.315361e+13,1.356517e+11,3.167909e+11,2.371517e+11,1.506525e+11,4.628270e+11,5.848928e+11,5.685984e+11,5.037800e+11,5.829775e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,코오롱플라스틱,소재,5.180759e+11,4.052722e+11,2.951825e+11,3.302848e+11,3.213353e+11,2.622421e+11,2.383774e+11,2.503921e+11,2.452536e+11,4.604190e+10,2.768157e+10,3.855511e+09,1.030615e+10,1.937241e+10,1.961119e+10,1.792713e+10,1.418726e+10,5.981461e+09
135,빙그레,필수소비재,1.267686e+12,1.147435e+12,9.591295e+11,8.783343e+11,8.551630e+11,8.147133e+11,7.702138e+11,7.995717e+11,8.200216e+11,3.940766e+10,2.624392e+10,3.984742e+10,4.578215e+10,3.932961e+10,3.470834e+10,3.723585e+10,3.169271e+10,4.169960e+10
136,SFA반도체,IT,6.994121e+11,6.411088e+11,5.730775e+11,5.889382e+11,4.578531e+11,4.495582e+11,4.292146e+11,5.164775e+11,5.191278e+11,6.288125e+10,6.649631e+10,3.428202e+10,3.907561e+10,3.368826e+10,2.546230e+10,1.481251e+10,7.830976e+09,5.198639e+10
137,와이지엔터테인먼트,경기소비재,3.911745e+11,3.216362e+11,2.552624e+11,2.535790e+11,2.690161e+11,3.498607e+11,3.218391e+11,1.931121e+11,1.563159e+11,2.852927e+09,9.349760e+08,0.000000e+00,2.634000e+08,-1.476984e+09,NaN,NaN,NaN,NaN
138,휴젤,의료,2.816751e+11,2.318591e+11,2.110383e+11,2.045676e+11,1.823916e+11,1.820855e+11,1.241894e+11,6.506558e+10,4.034997e+10,1.013785e+11,9.561134e+10,7.805979e+10,6.808670e+10,6.019496e+10,1.019243e+11,6.326027e+10,1.775747e+10,1.548819e+10

### corp 기업 table 생성

In [216]:
# 남녀성비 계산
df['사원수'] = df['남사원수'] + df['여사원수']
df['남사원수성비']= df['남사원수']/df['사원수']
df['여사원수성비']= df['여사원수']/df['사원수']

In [217]:
# 3년 평균 매출
df2['기업매출3년평균'] = df2.loc[:, ['2020_매출액', '2021_매출액', '2022_매출액']].mean(axis=1)

In [218]:
# 3년 평균 영업이익
df5['영업이익3년평균'] = df5.loc[:, ['2020영업이익', '2021영업이익', '2022영업이익']].mean(axis=1)

In [219]:
# 2022 연봉
df4[2022]

0       71977786.0
1      102839946.0
2       98262760.0
3       40949557.0
4       43630473.0
          ...
134     79175676.0
135     57828202.0
136     55800000.0
137     49205805.0
138     52533898.0
Name: 2022, Length: 139, dtype: float64

In [220]:
# 기업명을 기준으로 merge

In [221]:
from functools import reduce

dfs = [df, df2, df3, df4, df5]
merged_df = reduce(lambda left, right: pd.merge(left, right, on='기업명'), dfs)

In [283]:
# 원하는 행만 뽑기 
df_corp = pd.DataFrame(columns=['corp_code','corp_name','corp_m','corp_w','corp_sales','corp_sm','corp_aug','corp_est','corp_sal','corp_add','corp_long','corp_lati','corp_wel','corp_ind','corp_ope'])

In [284]:

i = 0
while i < len(merged_df):
    df_corp.loc[i] = [merged_df['기업코드'][i],merged_df['기업명'][i],merged_df['남사원수성비'][i],merged_df['여사원수성비'][i],merged_df['기업매출3년평균'][i],merged_df['사원수'][i],merged_df['평균근속연수'][i],merged_df['설립년도'][i],merged_df[2022][i],merged_df['위치'][i],merged_df['경도'][i],merged_df['위도'][i],merged_df['복지'][i],merged_df['산업군'][i],merged_df['영업이익3년평균'][i]]
    i += 1

In [285]:
# corp 저장

In [286]:
df_corp.to_csv("corp.csv",index=False, encoding='cp949')

In [287]:
df_corp

,corp_code,corp_name,corp_m,corp_w,corp_sales,corp_sm,corp_aug,corp_est,corp_sal,corp_add,corp_long,corp_lati,corp_wel,corp_ind,corp_ope
0,148540,CJ,0.728814,0.271186,3.580267e+13,59,10.25,2003년 12월 15일,313300487.0,"경기 성남시 분당구 서현로180번길 19, 3층",127.122454,37.387335,0.0,산업재,1.808781e+12
1,265324,CJ ENM,0.422757,0.577243,3.911939e+12,3366,5.62,NaN,79353832.0,서울 마포구 상암산로 66,126.891671,37.578490,NaN,경기소비재,3.030928e+09
2,113410,CJ대한통운,0.860179,0.139821,1.141850e+13,6351,7.95,1930년 11월 15일,71623051.0,서울특별시 종로구 청진동 128,126.980560,37.570615,NaN,산업재,3.603351e+11
3,635134,CJ제일제당,0.722168,0.277832,2.687149e+13,8156,6.61,NaN,75183423.0,서울 중구 동호로 330,127.003313,37.563862,NaN,필수소비재,1.516230e+12
4,127954,CJ프레시웨이,0.289994,0.710006,2.505885e+12,6276,5.63,NaN,31536648.0,서울 마포구 월드컵북로 54길 25,126.888549,37.581326,NaN,필수소비재,4.997454e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,164788,현대모비스,0.877434,0.122566,4.341166e+13,10835,13.80,1977년 06월 25일,98262760.0,서울 강남구 테헤란로 203,127.037720,37.501597,4.0,경기소비재,1.965645e+12
135,428251,현대백화점,0.431213,0.568787,3.619903e+12,3082,8.80,2016년 08월 31일,60560675.0,서울 강남구 영동대로82길 19,127.066137,37.507366,0.0,경기소비재,2.403860e+11
136,145880,현대제철,0.965550,0.034450,2.273797e+13,11495,11.50,1964년 09월 01일,95759809.0,인천 동구 중봉대로 63,126.638948,37.489557,3.0,소재,1.378998e+12
137,195229,휠라홀딩스,0.573529,0.426471,3.714838e+12,68,5.05,NaN,87441176.0,"서울 강동구 천호대로 1077 15층 ,16층,17층,18층",127.132301,37.536975,NaN,경기소비재,4.230005e+11
138,888347,휴젤,0.538136,0.461864,2.415242e+11,472,3.31,2001년 11월 22일,52533898.0,강원 춘천시 신북읍 신북로 61-20,127.749740,37.930095,2.0,의료,9.168321e+10

### Financial 재무제표 table 생성

In [251]:
df = pd.read_csv("/Users/crlee/융복합프로젝트/2022_.csv", encoding='euc-kr')
columns1={
    '기업이름':'기업명'
}
df = df.rename(columns=columns1)
df

,기업코드,기업명,산업군,남사원수,여사원수,평균근속연수,평균1인급여,당기매출액,영업이익,당기순이익,성장성,안정성,수익성,활동성
0,148540,CJ,산업재,43,16,10.25,456500000,4.092490e+13,2.154200e+12,6.868460e+11,18.677788,172.027773,5.263795,0.848353
1,265324,CJ ENM,경기소비재,1423,1943,5.62,74750000,4.792240e+12,1.373760e+11,-1.768150e+11,34.901544,137.833036,2.866634,0.463814
2,113410,CJ대한통운,산업재,5463,888,7.95,65500000,1.213070e+13,4.117870e+11,1.968220e+11,6.938340,140.271665,3.394581,1.251453
3,635134,CJ제일제당,필수소비재,5890,2266,6.61,77250000,3.007950e+13,1.664710e+12,8.026740e+11,14.417637,160.327721,5.534359,1.002208
4,127954,CJ프레시웨이,필수소비재,1820,4456,5.63,49625000,2.747690e+12,9.784009e+10,5.224313e+10,19.911447,267.455997,3.560810,1.850638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,164788,현대모비스,경기소비재,9507,1328,13.80,86000000,5.190630e+13,2.026530e+12,2.487240e+12,24.469004,46.548977,3.904211,0.936823
135,428251,현대백화점,경기소비재,1329,1753,8.80,64000000,5.014120e+12,3.209290e+11,1.860260e+11,40.355981,136.186534,6.400495,0.507044
136,145880,현대제철,소재,11099,396,11.50,79000000,2.734060e+13,1.616460e+12,1.038190e+12,19.652936,92.387658,5.912295,0.742932
137,195229,휠라홀딩스,경기소비재,39,29,5.05,73666666,4.221750e+12,4.350720e+11,4.675440e+11,11.275597,87.286182,10.305498,0.875555
138,888347,휴젤,의료,254,218,3.31,52000000,2.816750e+11,1.013780e+11,6.068176e+10,21.485473,23.583195,35.991282,0.268318

In [252]:
# 원하는 열만 뽑기 
select_columns=['기업코드','기업명','안정성','수익성','활동성','성장성']
df_fin = df[select_columns]

In [253]:
# 새로운 컬럼명 
columns3 = {
    '기업코드':'corp_code',
    '기업명':'corp_name',
    '안정성':'fin_sta',
    '수익성':'fin_pro',
    '활동성':'fin_act',
    '성장성':'fin_gro'
}

In [254]:
df_fin =df_fin.rename(columns=columns3)
df_fin

     corp_code corp_name     fin_sta    fin_pro   fin_act    fin_gro
0       148540        CJ  172.027773   5.263795  0.848353  18.677788
1       265324    CJ ENM  137.833036   2.866634  0.463814  34.901544
2       113410    CJ대한통운  140.271665   3.394581  1.251453   6.938340
3       635134    CJ제일제당  160.327721   5.534359  1.002208  14.417637
4       127954   CJ프레시웨이  267.455997   3.560810  1.850638  19.911447
..         ...       ...         ...        ...       ...        ...
134     164788     현대모비스   46.548977   3.904211  0.936823  24.469004
135     428251     현대백화점  136.186534   6.400495  0.507044  40.355981
136     145880      현대제철   92.387658   5.912295  0.742932  19.652936
137     195229     휠라홀딩스   87.286182  10.305498  0.875555  11.275597
138     888347        휴젤   23.583195  35.991282  0.268318  21.485473

[139 rows x 6 columns]

In [259]:
# 저장
df_fin.to_csv("financial.csv",index=False, encoding='cp949')

In [260]:
df_fin

     corp_code corp_name     fin_sta    fin_pro   fin_act    fin_gro
0       148540        CJ  172.027773   5.263795  0.848353  18.677788
1       265324    CJ ENM  137.833036   2.866634  0.463814  34.901544
2       113410    CJ대한통운  140.271665   3.394581  1.251453   6.938340
3       635134    CJ제일제당  160.327721   5.534359  1.002208  14.417637
4       127954   CJ프레시웨이  267.455997   3.560810  1.850638  19.911447
..         ...       ...         ...        ...       ...        ...
134     164788     현대모비스   46.548977   3.904211  0.936823  24.469004
135     428251     현대백화점  136.186534   6.400495  0.507044  40.355981
136     145880      현대제철   92.387658   5.912295  0.742932  19.652936
137     195229     휠라홀딩스   87.286182  10.305498  0.875555  11.275597
138     888347        휴젤   23.583195  35.991282  0.268318  21.485473

[139 rows x 6 columns]

### Predict 예측모델 table 생성

In [233]:
df6 = pd.read_csv('/Users/crlee/융복합프로젝트/sales.csv',encoding='utf-8')

In [234]:
df6 #매출액

,기업명,2014_매출액,2015_매출액,2016_매출액,2017_매출액,2018_매출액,2019_매출액,2020_매출액,2021_매출액,2022_매출액
0,삼성전자,"206,205,987,000,000","200,653,482,000,000","201,866,745,000,000","239,575,376,000,000","243,771,415,000,000","230,400,881,000,000","236,806,988,000,000","279,604,799,000,000","302,231,360,000,000"
1,LG화학,"22,577,830,000,000","20,206,583,000,000","20,659,296,000,000","25,698,014,000,000","28,183,013,000,000","28,625,042,000,000","29,984,350,000,000","42,599,284,000,000","51,864,888,000,000"
2,현대모비스,"35,126,612,000,000","36,019,749,000,000","38,261,745,000,000","35,144,580,000,000","35,149,219,000,000","38,048,768,000,000","36,626,504,000,000","41,702,184,000,000","51,906,293,000,000"
3,현대글로비스,"13,922,020,908,396","14,671,209,542,520","15,340,631,691,891","16,358,289,275,041","16,865,565,662,638","18,270,050,465,618","16,519,884,633,100","21,779,581,931,003","26,981,880,971,123"
4,이마트,"13,153,607,337,382","13,639,993,101,625","14,777,876,303,720","15,876,686,561,466","17,049,079,116,942","19,062,879,818,284","22,033,009,980,862","24,932,680,935,679","29,332,413,845,888"
...,...,...,...,...,...,...,...,...,...,...
134,코오롱플라스틱,"245,253,564,902","250,392,147,812","238,377,364,725","262,242,096,910","321,335,264,695","330,284,776,004","295,182,526,345","405,272,224,855","518,075,861,606"
135,빙그레,"820,021,629,220","799,571,650,621","813,166,106,663","857,454,493,207","855,162,971,617","878,334,259,510","959,129,489,604","1,147,435,118,625","1,267,685,822,673"
136,SFA반도체,"519,127,825,685","516,477,480,409","429,214,598,735","449,558,231,423","457,853,090,116","588,938,237,876","573,077,540,339","641,108,819,687","699,412,110,637"
137,와이지엔터테인먼트,"156,315,908,861","193,112,056,418","321,839,059,110","349,860,731,337","269,016,130,453","264,459,739,114","255,262,402,297","321,636,184,178","391,174,512,956"
138,휴젤,"40,349,968,216","65,065,577,112","124,189,443,779","182,085,496,975","182,391,609,421","204,567,625,227","211,038,348,381","231,859,108,191","281,675,135,067"

In [235]:
# columns5={
#     '2014':'2014매출액',
#     '2015':'2015매출액',
#     '2016':'2016매출액',
#     '2017':'2017매출액',
#     '2018':'2018매출액',
#     '2019':'2019매출액',
#     '2020':'2020매출액',
#     '2021':'2021매출액',
#     '2022':'2022매출액'
# }
# df6 = df6.rename(columns=columns5)

In [270]:
merged_df_2 = pd.merge(df4,df6 ,on='기업명')

In [271]:
merged_df_3 = pd.merge(df,merged_df_2, on='기업명')

In [274]:
# 원하는 열만 추출
select_columns_2=['기업코드','기업명','2014_매출액','2015_매출액','2016_매출액','2017_매출액','2018_매출액','2019_매출액','2020_매출액','2021_매출액','2022_매출액','2014','2015','2016','2017','2018','2019','2020','2021','2022']
df_pre = merged_df_3[select_columns_2]

In [275]:
columns4 = {
    '기업코드':'corp_code',
    '기업명':'corp_name',
    2014:'pre_sea_2014',
    2015:'pre_sea_2015',
    2016:'pre_sea_2016',
    2017:'pre_sea_2017',
    2018:'pre_sea_2018',
    2019:'pre_sea_2019',
    2020:'pre_sea_2020',
    2021:'pre_sea_2021',
    2022:'pre_sea_2022',
    '2014_매출액':'corp_sales_2014',
    '2015_매출액':'corp_sales_2015',
    '2016_매출액':'corp_sales_2016',
    '2017_매출액':'corp_sales_2017',
    '2018_매출액':'corp_sales_2018',
    '2019_매출액':'corp_sales_2019',
    '2020_매출액':'corp_sales_2020',
    '2021_매출액':'corp_sales_2021',
    '2022_매출액':'corp_sales_2022',
}
df_pre = df_pre.rename(columns=columns4)

In [276]:
df_pre.to_csv("predict.csv",index=False,  encoding='cp949')

In [277]:
predict = pd.read_csv("/Users/crlee/융복합프로젝트/predict.csv",encoding='cp949')

In [278]:
predict

,corp_code,corp_name,corp_sales_2014,corp_sales_2015,corp_sales_2016,corp_sales_2017,corp_sales_2018,corp_sales_2019,corp_sales_2020,corp_sales_2021,corp_sales_2022,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,148540,CJ,"19,572,301,244,000","21,166,707,211,000","23,954,197,397,000","26,898,599,989,000","29,523,435,477,000","33,779,706,665,000","31,999,102,947,000","34,484,026,554,000","40,924,879,773,000",326,366,393,518,485,475,504,534,582
1,265324,CJ ENM,"2,604,907,441,415","2,308,605,389,638","2,208,596,188,143","2,260,006,796,348","2,360,375,323,914","3,789,723,949,697","3,391,184,002,869","3,552,396,542,302","4,792,237,788,876",85,79,76,87,95,96,122,140,133
2,113410,CJ대한통운,"4,560,087,295,134","5,055,766,403,519","6,081,945,642,204","7,110,391,207,800","9,219,680,477,069","10,415,108,625,820","10,781,127,150,206","11,343,651,787,492","12,130,712,862,374",156,221,300,424,498,523,915,895,760
3,635134,CJ제일제당,"11,701,797,228,000","12,924,472,295,000","14,563,257,246,000","16,477,174,023,000","18,670,059,989,000","22,352,462,296,000","24,245,725,654,000","26,289,227,767,000","30,079,513,121,000",32,39,66,109,93,96,244,503,495
4,127954,CJ프레시웨이,"1,795,277,457,192","2,072,357,920,441","2,327,923,602,211","2,504,409,846,296","2,828,072,306,744","3,055,080,973,511","2,478,528,727,709","2,291,433,979,355","2,747,691,651,727",79,112,137,124,135,166,201,154,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,164788,현대모비스,"35,126,612,000,000","36,019,749,000,000","38,261,745,000,000","35,144,580,000,000","35,149,219,000,000","38,048,768,000,000","36,626,504,000,000","41,702,184,000,000","51,906,293,000,000",202,182,168,222,290,282,619,879,662
135,428251,현대백화점,"1,551,860,911,000","1,656,960,042,000","1,831,801,786,000","1,848,140,316,000","1,862,205,782,000","2,198,949,660,000","2,273,151,865,000","3,572,433,182,000","5,014,123,629,000",159,224,303,428,503,527,918,903,771
136,145880,현대제철,"16,762,359,710,587","16,132,512,865,309","16,691,511,903,578","19,165,963,848,372","20,780,381,550,301","20,512,590,431,956","18,023,398,349,630","22,849,920,977,857","27,340,601,237,802",286,140,0,140,66,63,102,0,0
137,195229,휠라홀딩스,"797,475,547,926","815,749,831,510","967,128,444,713","2,530,323,756,958","2,954,642,540,440","3,450,421,529,936","3,128,805,852,797","3,793,958,639,955","4,221,750,126,628",33,44,51,45,38,39,470,299,175
138,888347,휴젤,"40,349,968,216","65,065,577,112","124,189,443,779","182,085,496,975","182,391,609,421","204,567,625,227","211,038,348,381","231,859,108,191","281,675,135,067",29,110,227,307,249,231,372,509,299